<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Stabilitas Thresholds v2.2</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../dist/css/dashboard.css" rel="stylesheet">

    <style>
       #map {
        height: 600px;
        width: 100%;
       }
    </style>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Stabilitas Thresholds</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="https://medium.com/@brendan.dorsey">Blog</a></li>
            <li><a href="#">Thresholds</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/" method='POST'>
            <input type="text" class="form-control" placeholder="YYYY-MM-DD" name="user_input">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#top">Map<span class="sr-only">(current)</span></a></li>
            <li><a href="#predicted_list">Predicted Critical</a></li>
            <li><a href="#critical_list">Critical</a></li>
            <li><a href="#elevated_list">Elevated</a></li>
            <li><a href="http://stabilitas.io/">Stabilitas</a></li>
          </ul>
          <!-- <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul> -->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h5 class="text-muted text-right">Please enter a date between 2016-01-01 and 2016-12-31 in the search bar above using the format shown.</h5>
          <h1 class="page-header">Results for {{query_date}}</h1>
            <div id="map"></div>
            <script>
              function myMap() {

                var predicted_cities = {{ predicted_cities|tojson }}
                var critical_cities = {{ critical_cities|tojson }}
                var elevated_cities = {{ elevated_cities|tojson }}

                var mapCanvas = document.getElementById("map");
                var mapOptions = {
                  center: {lat: 20, lng: 0},
                  zoom: 3
                };
                var map = new google.maps.Map(mapCanvas,mapOptions);

                // Plot circles for predicted cities
                for (var i=0; i < {{num_pred}}; i++) {
                  var scaling_factor = 1 + (predicted_cities[i][1] - 0.2);
                  var city_info = predicted_cities[i][0] + " " + predicted_cities[i][1] + " " + predicted_cities[i][2];
                  var city = new google.maps.LatLng(predicted_cities[i][3][0], predicted_cities[i][3][1]);
                  var circlePred = new google.maps.Circle({
                    center: city,
                    radius: 70000 * scaling_factor,
                    strokeColor: "#FF0000",
                    strokeOpacity: 1,
                    strokeWeight: 2,
                    fillColor: "#FF0000",
                    fillOpacity: 0,
                    clickable: true,
                    map: map
                  });
                  createClickableCircle(map, circlePred, city_info);
                }

                // Plot circles for critical cities
                for (var i=0; i < {{num_crit}}; i++) {
                  var scaling_factor = 1 + (critical_cities[i][1] - 0.2);
                  var city_info = critical_cities[i][0] + " " + critical_cities[i][1] + " " + critical_cities[i][2]
                  var city = new google.maps.LatLng(critical_cities[i][3][0], critical_cities[i][3][1]);
                  var circleCrit = new google.maps.Circle({
                    center: city,
                    radius: 50000 * scaling_factor,
                    strokeColor: "#000000",
                    strokeOpacity: 1,
                    strokeWeight: 1,
                    fillColor: "#FFA500",
                    fillOpacity: 0.6 * scaling_factor,
                    clickable: true,
                    map: map
                  });
                  createClickableCircle(map, circleCrit, city_info);
                }

                // Plot circles for elevated cities
                for (var i=0; i < {{num_elev}}; i++) {
                  var scaling_factor = 1 + (elevated_cities[i][1] - 0.2);
                  var city_info = elevated_cities[i][0] + " " + elevated_cities[i][1] + " " + elevated_cities[i][2]
                  var city = new google.maps.LatLng(elevated_cities[i][3][0], elevated_cities[i][3][1]);
                  var circleElev = new google.maps.Circle({
                    center: city,
                    radius: 45000 * scaling_factor,
                    strokeColor: "#000000",
                    strokeOpacity: 0,
                    strokeWeight: 0,
                    fillColor: "#0000FF",
                    fillOpacity: 0.5 * scaling_factor,
                    clickable: true,
                    map: map
                  });
                  createClickableCircle(map, circleElev, city_info);
                }
              }
              function createClickableCircle(map, circle, info){
                var infowindow =new google.maps.InfoWindow({
                  content: info
                });
                google.maps.event.addListener(circle, 'click', function(ev) {
                  // alert(infowindow.content);
                  infowindow.setPosition(circle.getCenter());
                  infowindow.open(map);
                });
              }
              </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGnXfgTGgHRpqkSu0Sf5-nVFgt5_UmVk0&callback=myMap">
            </script>
            <div class="row placeholders">
              <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Legend</h4>
                <div class="text-muted">Red Circle: Predicted Critical</div>
                <div class="text-muted">Yellow Dot: Condition Critical</div>
                <div class="text-muted">Blue Dot: Condition Elevated</div>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Totals</h4>
                <div class="text-muted">Total Predicted Critical: {{num_pred}}</div>
                <div class="text-muted">Total Condition Critical: {{num_crit}}</div>
                <div class="text-muted">Total Condition Elevated: {{num_elev}}</div>
              </div>
            </div>
        <div class="row placeholders">

          <h2 id="predicted_list">&nbsp;</h2>
          <h2 class="sub-header">Cities predicted critical on {{query_date}}</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="text-left">City</th>
                <th class="text-center">Probability of Critical Event</th>
                <th class="text-left">Most Critical Report</th>
              </tr>
            </thead>
              {% for city, proba, title, _ in predicted_cities %}
              <tr>
                <td class="text-left">{{city}}</td>
                <td class="text-center">{{proba}}</td>
                <td class="text-left">{{title}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <h2 id="critical_list">&nbsp;</h2>
          <h2 class="sub-header">Cities with condition critical on {{query_date}}</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <th class="text-left">City</th>
                <th class="text-center">Probability of Critical Event</th>
                <th class="text-left">Most Critical Report</th>
              </tr>
              {% for city, proba, title, _ in critical_cities %}
              <tr>
                <td class="text-left">{{city}}</td>
                <td class="text-center">{{proba}}</td>
                <td class="text-left">{{title}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <h2 id="elevated_list">&nbsp;</h2>
          <h2 class="sub-header">Cities with condition elevated on {{query_date}}</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <th class="text-left">City</th>
                <th class="text-center">Probability of Critical Event</th>
                <th class="text-left">Most Critical Report</th>
              </tr>
              {% for city, proba, title, _ in elevated_cities %}
              <tr>
                <td class="text-left">{{city}}</td>
                <td class="text-center">{{proba}}</td>
                <td class="text-left">{{title}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
    var invalidQuery = {{invalid_query|tojson}}
    if (invalidQuery) {
      alert("There is no data for your entry: {{invalid_key}}.");
    }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
